<!DOCTYPE html>
<html lang="pt-BR">


<head>
    <meta charset="UTF-8">
    <title>{% block title %}Meu App Flask{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <nav>
        <a href="{{ url_for('main.index') }}">Início</a> |
        <a href="{{ url_for('main.sobre') }}">Sobre</a> |

        {% if session.get('usuario_id') %}
        <a href="{{ url_for('main.dashboard') }}">Dashboard</a> |
        <a href="{{ url_for('auth.logout') }}">Logout</a> |
        <span style="color: green;">Olá, {{ session['usuario_nome'] }}!</span>
        {% else %}
        <a href="{{ url_for('auth.login') }}">Login</a> |
        <a href="{{ url_for('auth.register') }}">Registrar</a>
        {% endif %}
        {% if session.get('is_admin') %}
        <a href="{{ url_for('main.admin_dashboard') }}">Admin</a> |
        {% endif %}
        {% if session.get('is_admin') %}
        <a href="{{ url_for('dashboard.estoque_dashboard') }}">Dashboard Estoque</a> |
        {% endif %}


    </nav>


    <main>
        {% block content %}{% endblock %}
    </main>
</body>

</html>