{% extends "base.html" %}
{% block title %}Registrar{% endblock %}

{% block content %}
<h2>Registrar Novo Usuário</h2>
<form method="POST">
    <label>Usuário:</label><br>
    <input type="text" name="username"><br><br>

    <label>Email:</label><br>
    <input type="email" name="email"><br><br>

    <label>Senha:</label><br>
    <input type="password" name="password"><br><br>

    <button type="submit">Registrar</button>
</form>

{% if mensagem %}
<p style="color: red;">{{ mensagem }}</p>
{% endif %}
{% endblock %}